<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='stylesheets/styles.css') }}">
  <title>Catalog</title>
</head>

<body>

  <header>
    <div class="header_inner">
      <a href={{url_for('showCatalog')}}>
        <h1 class="header_title">Catalog App</h1>
      </a>
      <div class="login">
        <form method="GET" action="{{ url_for('login') }}">
            <button type="Submit">Login</button>
        </form>
      </div>
    </div>
  </header>

  <main>
    <div class="flex-container content">
      <div class="categories box_items">
        <a href="{{url_for('addCategory')}}">Add Category</a>
        <h2>Categories</h2>
        {% for category in categories %}
        <p><a href="{{url_for('showItems', category_name=category.name)}}">{{category.name}}</a></p>
        {% endfor %}
      </div>
      <div class="latest_items box_items">
        <a href="{{url_for('addItem', category_name=category_name)}}">Add Item</a>
        <a href="{{url_for('editCategory', category_name=category_name)}}">Edit Category</a>
        <a href="{{url_for('deleteCategory', category_name=category_name)}}">Delete Category</a>
        <h2>{{category_name}} Items ({{count}} items)</h2>
        {% for item in items %}
        <p><a href="{{url_for('itemInfo', category_name=item.category_name, item_name=item.name)}}">{{item.name}}</a></p>
        {% endfor %}
      </div>
    </div>

  </main>

</body>
</html>
